.header {
    &__logo {
        width: 360px;
        margin: auto;
        img {
            max-width: 100%;
        }
    }
    &__slogan {
        color: $base-color;
        margin: 18px auto;
        font-size: 18px;
        text-align: center;
        font-weight: 600;
    }

    &__nav-block {
        margin: 20px auto;
        width: 360px;
    }
    &__nav-list {
        margin: 0px;
        padding: 0px;
        font-size: 18px;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__nav-item {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }
}